/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

:root{
 /* Colors */
/* (Dark Mode Elements) */
--DarkBlue: hsl(209, 23%, 22%);
/* Dark Mode Background */
--VeryDarkBlue: hsl(207, 26%, 17%);
/* Light Mode Text */
--VeryDarkBlueT: hsl(200, 15%, 8%);
/* Light Mode Input */
--DarkGray: hsl(0, 0%, 52%);
/* Light Mode Background */
--VeryLightGray: hsl(0, 0%, 98%);
/* Dark Mode Text & Light Mode Elements */
--White: hsl(0, 0%, 100%);

--fs-home:1.4rem;
--fs-detail :1.6rem;
/* light mmood */
--Elements-color:var(--White);
--mode-bg:var(--VeryLightGray);
--text-clr:var(--VeryDarkBlueT);
}

/* utlity */
.regular{font-weight: 300;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 800;}
.gap-6{gap:5rem}

/* Component */

html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    color:var(--text-clr)
}

.home{
    font-size: var(--fs-home)!important;
    background-color: var(--mode-bg);
}


nav {
    padding: 2.3rem 1rem;
    background-color: var(--Elements-color);
    margin-bottom: 2rem;
}
.dark-mood{
    cursor: pointer;
}

.search-container{
    margin: 2rem;
    
}


.search-box{
    width: min(40rem,85vw);
    margin: 1rem 0;
    position: relative;
    
}
.search-icon {
    position: absolute;
    left:2.5rem;
    top:.6rem;
    transform: translate(-50% ,15%);
}
.search-box input{
    padding: 1.2rem ;
    padding-left: 5rem;
    border: none;
    background-color: var(--Elements-color);
    color: var(--text-clr);
}
.search-box input:focus{
    background-color: var(--Elements-color);
    color: var(--text-clr);
}


.select-region__btn {
    background-color: var(--Elements-color);
}
.filter-box{
    border:none;
    padding: 1.3rem 1rem;
    border-radius:5px ;
}
.filter-box:focus-visible{
    border: none;
    outline: none;
}
.custom-select{
    width:15rem;
    position: relative;
   
}
.custom-select select{
    width: 100%;
    padding-inline-end: 1rem;
    background-color: var(--Elements-color);
    color: var(--text-clr);
}
.custom-select select::after{
    color:red;
}
.cards-container{
    margin-inline: 2rem;
}
.card{
    width:22rem;
    cursor: pointer;
    z-index: 100;
    position: relative;
    background-color: var(--Elements-color);
}
.card-body{
    padding: 2.5rem 2rem;
    z-index: -100;
}
.card-title{
    font-family: inherit;
    font-size: inherit;
    z-index: -100;
}
.card-img-top{
    height: 15rem;
    z-index: -100;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* ----------details page-------------- */

.details {
    font-size: var(--fs-detail)!important;
    background-color: var(--mode-bg);
}
.bck-btn{
    background-color: var(--Elements-color);
    padding: .4rem 3rem;
    margin-left: 2rem;
    color: inherit;
}
.flag {
    display: inline-block;
    margin: auto;
    /* width: 90%; */
}
.details--info,
h2{
    padding-left: 2rem;
}
.bounders-countries div{
    display: inline-block;
    background-color: var(--Elements-color);
    padding-inline: 2rem;
    padding-block: .5rem;
    margin:1rem;
}
/* --------------------- */
