<div
  class="card col p-0 bg-element border-0 shadow-sm"
  style="width: 16.5rem"
  (click)="navigateToDetials(country)"
>
  <img
    [src]="country.flags.png"
    height="160px"
    width="100%"
    class="card-img-top"
    alt="{{ country.flags.alt }}"
    lazyLoading
  />
  <div class="card-body">
    <h5 class="card-title c-fw-800">{{ country.name }}</h5>
    <div class="card-text text-color">
      <div class="detail c-fw-300">
        <span class="detail-label c-fw-500 pe-1">Population:</span
        >{{ country.population }}
      </div>
      <div class="detail c-fw-300">
        <span class="detail-label c-fw-500 pe-1">Region:</span
        >{{ country.region }}
      </div>
      <div class="detail c-fw-300">
        <span class="detail-label c-fw-500 pe-1">Capital:</span
        >{{ country.capital }}
      </div>
    </div>
  </div>
</div>
