<main class="home">
  <app-search-bar
    (valueChange)="search($event)"
    [filter]="selectedFilter"
  ></app-search-bar>
  <div>
    <div
      *ngIf="filteredCountries$ | async as countries; else noData"
      class="row row-cols-1 row-cols-md-4 justify-content-around g-4"
    >
      <div
        class="card col p-0 bg-element border-0 shadow-sm"
        style="width: 16.5rem"
        *ngFor="let c of countries; trackBy: countriesTrack"
        (click)="navigateToDetials(c)"
      >
        <img
          [src]="c.flags.png"
          height="160px"
          width="100%"
          class="card-img-top"
          alt="{{ c.flags.alt }}"
          lazyLoading
        />
        <div class="card-body">
          <h5 class="card-title c-fw-800">{{ c.name }}</h5>
          <div class="card-text text-color">
            <div class="detail c-fw-300">
              <span class="detail-label c-fw-500 pe-1">Population:</span
              >{{ c.population }}
            </div>
            <div class="detail c-fw-300">
              <span class="detail-label c-fw-500 pe-1">Region:</span
              >{{ c.region }}
            </div>
            <div class="detail c-fw-300">
              <span class="detail-label c-fw-500 pe-1">Capital:</span
              >{{ c.capital }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</main>
